version: "2"
services:
  base:
    build: "."
    image: "pressroom/base"
  box:
    image: "busybox"
    volumes:
      - "/root/bundle"
  app:
    image: "pressroom/base"
    volumes:
      - ".:/root/pressroom"
    volumes_from:
      - "box"
    environment:
      - "BUNDLE_PATH=/root/bundle"
